[MAIN]
load-plugins=pylint.extensions.docparams

[BASIC]
# Good variable names which should always be accepted, separated by a comma.
good-names=x,y,z

[DESIGN]
# Maximum number of arguments for function / method
max-args=12
# Maximum number of locals for function / method body
max-locals=30
# Maximum number of statements in function / method body
max-statements=60
# Maximum number of attributes for a class (see R0902).
max-attributes=20
# Minimum number of public methods for a class (see R0903).
min-public-methods=0
# Maximum number of public methods for a class (see R0904).
max-public-methods=20

[FORMAT]
max-line-length=120

[MESSAGES]
disable=logging-fstring-interpolation, import-error, missing-module-docstring, missing-raises-doc, duplicate-code, fixme, unnecessary-lambda-assignment

[SIMILARITIES]
# Minimum lines number of a similarity.
min-similarity-lines=4
# Ignore comments when computing similarities.
ignore-comments=yes
# Ignore docstrings when computing similarities.
ignore-docstrings=yes
# Ignore imports when computing similarities.
ignore-imports=yes
# Ignore function signatures when computing similarities.
ignore-signatures=no

[TYPECHECK]
# List of members which are set dynamically and missed by Pylint inference
# system, and so shouldn't trigger E1101 when accessed.
generated-members=numpy.*, torch.*, onnx.*, onnxruntime.*
ignored-modules=onnx.onnx_ml_pb2
